* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #454546;
  opacity: 1;
}
*:-moz-placeholder {
  color: #454546;
  opacity: 1;
}
*::-moz-placeholder {
  color: #454546;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #454546;
  opacity: 1;
}

$blackColor: #454546;

//style font size
$smallFontSize: 14px;
$mediumFontSize: 16px;
$bigFontSize: 18px;

//default body style
$defaultFontFamily: "RobotoRegular", sans-serif;
$defaultFontColor: $blackColor;
$defaultFontSize: $mediumFontSize;

body {
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  color: $defaultFontColor;
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  line-height: 1.6;
}
a {
  color: $blackColor;
}
